.header {
	background-color: lavender;
	height: 30px;
	padding-top: 2px;
	padding-bottom: 40px;
	}

body {
    font-size: 20px;
    height: 600px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

#words {
    font-size: 20px;
}

#bulk {
    height: 500px;
    width: 100%
}

form {
    text-align: left;
    width: 100%;
}

iframe {
    float: right;
}


footer {
    text-align: center;
}