header {
    background-color: #90bbf4;
}

h1 {
    text-align: center;
}

h2 {
    color: blue;
    text-align: center;
}

blockquote {
    font-size: 1.25em;
}

section {
    width: 96%;
    padding: 2%;
    text-align: justify;
}

.trail {
    background-color: #c9f3e6;
    font-size: 20px;
    
}

.half {
    width: 48%;
    height: 100%;
}

.full {
    width: 96%;
    padding: 2%;
}

.longtrails {
    background-image: url("Pictures/Map\ g.png");
    border: 2px black solid;
    font-size: 18px;
    font-family: fantasy;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

th, td {
    border: 1px black solid;
    background-color: #e0f9e2;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #3131e0
}

a:hover {
    text-decoration: underline;
    color: #3188e0
}

input[type="text"]:active {
    background-color: #cbe8ed;
}